@model IEnumerable<ProjetoAcademia.Models.Aluno>

@{
    ViewData["Title"] = "Alunos Cadastrados";
}

<div class="row">
    <div class="col s10">
        <h5>Alunos Cadastrados</h5>
    </div>
    <div class="col s2">
        <p>
            <a asp-action="Create" class="btn btn-small cyan darken-4 ">
                Add Novo
            </a>
        </p>
    </div>
</div>
<hr />

<table class="table striped hover highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objetivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrequenciaSemanal)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Objetivo.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FrequenciaSemanal)
                </td>
                <td>
                    <a asp-action="Index" asp-controller="Ficha" asp-route-AlunoId="@item.AlunoId" class="btn btn-small btn amber darken-3">Fichas</a>

                    <a asp-action="Edit" asp-route-id="@item.AlunoId" class="btn btn-small btn-floating light-blue darken-4">
                        <i class="material-icons">create</i>
                    </a>

                    <a onclick="ExibirModal(@item.AlunoId, '@item.NomeCompleto')" class="btn btn-small btn-floating red darken-4">
                        <i class="material-icons">delete_forever</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal" class="modal">
    <div class="modal-content">
        <h4>Excluir Categoria</h4>
        <p>Deseja excluir o/a aluno(a) <b class="nome"></b>?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn green accent-4">Não</a>
        <a class="btn red accent-4 btnConfirmar">Sim</a>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".modal").modal();
        });

        function ExibirModal(id, nome) {
            $(".nome").html(nome);
            $("#modal").modal("open");

            $(".btnConfirmar").on('click', function () {
                $.ajax({
                    method: "POST",
                    url: "/Aluno/Delete",
                    data: { id: id },
                    success: function () {
                        location.reload();
                    }
                });
            });
        }
    </script>
}