@model IEnumerable<ProjetoAcademia.Models.Ficha>

@{
    ViewData["Title"] = "Fichas Cadastradas";
}

<div class="row">
    <div class="col s10">
        <h5>Fichas Cadastradas</h5>
    </div>
    <div class="col s2">
        <p>
            <a asp-action="Create" asp-route-AlunoId="@ViewBag.AlunoId" class="btn btn-small cyan darken-4">
                Add Novo
            </a>
        </p>
    </div>
</div>
<hr />

<table class="table striped hover highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Validade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aluno.NomeCompleto)
                </td>
                <td>
                    <a asp-action="Details" asp-route-FichaId="@item.FichaId" class="btn btn-small btn amber darken-3">Visualizar</a>

                    <a asp-action="Listagem" asp-controller="Exercicio" asp-route-FichaId="@item.FichaId" asp-route-AlunoId="@item.AlunoId" class="btn btn-small btn amber darken-3">Exercicios</a>

                    <a asp-action="VisualizarPDF" asp-route-FichaId="@item.FichaId" class="btn btn-small btn amber darken-3">
                        <i class="material-icons">archive</i>
                    </a>

                    <a asp-action="Edit" asp-route-FichaId="@item.FichaId" class="btn btn-small btn-floating light-blue darken-4">
                        <i class="material-icons">create</i>
                    </a>

                    <a onclick="ExibirModal(@item.FichaId, '@item.Nome')" class="btn btn-small btn-floating red darken-4">
                        <i class="material-icons">delete_forever</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal" class="modal">
    <div class="modal-content">
        <h4>Excluir Categoria</h4>
        <p>Deseja excluir a ficha <b class="nome"></b>?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn green accent-4">Não</a>
        <a class="btn red accent-4 btnConfirmar">Sim</a>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".modal").modal();
        });

        function ExibirModal(id, nome) {
            $(".nome").html(nome);
            $("#modal").modal("open");

            $(".btnConfirmar").on('click', function () {
                $.ajax({
                    method: "POST",
                    url: "/Ficha/Delete",
                    data: { id: id },
                    success: function () {
                        location.reload();
                    }
                });
            });
        }
    </script>
}